<ion-view view-title="个人">
  <style>
  	.font-button{font-size:16px;text-align: left;}
  </style>
  
  <ion-content>
  	<div class="list card">
	
	  <div class="item item-body">
	    <div class="item item-avatar">
		    <img src="http://123.206.116.70:8080/hours/pic/{{user.avatar}}" style="max-width: 60px;max-height: 60px;top: 0px;left: 0px;">
		    <a href="#/tab/login" ng-if="logind==0"><h2>{{user.name}}</h2></a>
		    <h2 ng-if="logind==1">{{user.name}}</h2>
  		</div>
	    <p style="overflow: hidden;">这里是个性签名23333333333333333333333</p>
	    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p>
	  </div>
	
	</div>
  		
    
    <ul class="list" style="list-style-type:none;text-align:center;">
	    <li class="item" id="personInfo" style="padding:0px;margin:0 10px;">
	      <button class="button button-block button-light font-button">
			个人信息
			<span style="position:absolute;right: 12px;"><i class="ion-ios-arrow-forward" style="text-align: right;"></i></span>
		  </button>
	    </li>
	    <li class="item" id="set" style="padding:0px;margin:0 10px;">
	      <button class="button button-block button-light font-button">
			设置
			<span style="position:absolute;right: 12px;"><i class="ion-ios-arrow-forward" style="text-align: right;"></i></span>
		  </button>
	    </li>
	    <li class="item" id="about-us" style="padding:0px;margin:0 10px;">
	      <button class="button button-block button-light font-button">
			关于
			<span style="position:absolute;right: 12px;"><i class="ion-ios-arrow-forward" style="text-align: right;"></i></span>
		  </button>
	    </li>
	</ul>
  </ion-content>
</ion-view>
