<ion-view view-title="个人信息">
  <style>
  	.font-button{font-size:16px;text-align: left;}
  </style>
  <ion-content>
  	
    <ul class="list" style="list-style-type:none;margin-top: 10px;margin-bottom: 10px;">
	    <li class="item" id="personInfo" style="padding:0px;margin:0 10px;">
	      <p style="float: left;font-size: 16px;text-align: center;line-height:30px ;">昵称</p> 
	      <input type="text" style="width: 80%;"/>
	    </li>
	    <li class="item" id="set" style="padding:0px;margin:0 10px;">
	      <button class="button button-block button-light font-button">
			设置
		  </button>
	    </li>
	    <li class="item" id="about-us" style="padding:0px;margin:0 10px;">
	      <button class="button button-block button-light font-button">
			关于
		  </button>
	    </li>
	</ul>
  </ion-content>
</ion-view>
