<ion-view view-title="数据统计">
	<ion-content>
    <ion-refresher
      pulling-text="下拉刷新..."
      on-refresh="init()">
    </ion-refresher>
		<p style=" position: relative; top: 20px;" >
            <canvas id="canvas_circle" width="350" height="180"  ></canvas>
       </p>
			<ion-list>
				<ion-item ng-repeat="item in data">
          {{item.name}} <span  style="float: right;" >{{item.hours}}小时{{item.minutes}}分钟{{item.second}}秒</span>
				</ion-item>
			</ion-list>
	</ion-content>
</ion-view>
