<ion-view view-title="时间管理">
  <ion-content>
    <div>
      <li class="lis">{{XXX}}用时{{XXX}}</li>
      <li class="lis">{{XXX}}用时{{XXX}}</li>
      <li class="lis">{{XXX}}用时{{XXX}}</li>
    </div>
<div class="row">
  <button class="col"><i class="ion-ios-basketball">运动</i></button>
  <button class="col"><i class="ion-edit">学习</i></button>
  <button class="col"><i class="ion-android-restaurant">吃饭</i></button>
  <button class="col"><i class="ion-ios-alarm">睡觉</i></button>
  <button class="col"><i class="ion-mouse">上网</i></button>
  <button class="col"><i class="ion-headphone">音乐</i></button>
  <button class="col"><i class="ion-ios-speedometer">交通</i></button>
  <button class="col"><i class="ion-ios-briefcase">工作</i></button>
  <button class="col"><i class="ion-android-walk">散步</i></button>
  <button class="col"><i class="ion-android-film">电影</i></button>
  <button class="col"><i class="ion-laptop">电视</i></button>
  <button class="col"><i class="ion-ios-book">阅读</i></button>
  <button class="col"><i class="ion-ios-cart">购物</i></button>
  <button class="col"><i class="ion-ios-flask">实验</i></button>
  <button class="col"><i class="ion-android-bicycle">骑行</i></button>
  <button class="col"><i class="ion-ios-mic">K歌</i></button>
  <button class="col"  onclick="a();" id="c"><i class="ion-ios-plus-outline">新建</i></button>
	<button class="col" style="display:none;" id="e"><i class="ion-ios-plus-outline">新建</i></button>
</div>
<style>
  .row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 45px 45px 45px 45px 45px;
    width: 95%;
    margin: auto;
  }
  .col{
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 15px;
    width: 95%;
    background-color: #11C1F3;
    border-radius: 5px;
  }
  .lis{
  	list-style: none;
  	margin: auto;
  	font-size: 18px;
  	border: 1px solid ;
  	width: 90%;
  	height: 30px;
  	margin-top: 3px;;
  }
</style>
<script>
 
</script>
  </ion-content>
</ion-view>